<%
  # 'errors' is a local variable passed a list of strings that are the errors
  # that occured when trying to update or create a new activerecord 
%>

<div class="error">
  <list>
    <%= I18n.t('automated_tests.test_script_upload_failed') %>
    <% errors.each do |e| %>
      <li>
        <%= e %>
      </li>
    <% end %>
  </list>
</div>
