div.dragarrows {
  float:left;
  padding:0 10px;
  font-weight:bold;
}

a.collapse {
  font-style:normal;
}

div.settings_left_side {
  margin-right:30px;
  float:left;
  /*height: 100%;*/
}

div.settings_right_side {
	float: left;
}

div.error li {
  padding-left:10px;
}

div.test_script_buttons {
	padding: 15px;
	clear: both;
}

div.test_script_helper_field {
	width: 100%;
	overflow: hidden;
	clear: both;
}

div.test_script_info {
	float: left;
	padding: 10px;
}

fieldset.test_script_helper_fieldset {
	float: left;
	width: 90%;
}
